/* Batman JS */
/* Frantically put together in two days. */

/* generic / layout */
body {
  font-family: ProximaNovaRegular;
  line-height: 1.3;
  padding-top: 64px;
  background: #171722;
  color: #a2a1ba;
}
p { margin: 0 0 .45em 0;}
h1 { color: magenta; }

h2, h3, h4 { font-family: ProximaNovaLight; }
h2 { font-size: 170%; margin-bottom: .5em;}
h3 { font-size: 150%; margin-bottom: .5em; }
h4 { font-size: 130%; margin-bottom: .5em; margin-top: 2em; }

a { color: #a2a2ba; }
a:hover { color: #fff; }


/* layout */
.row {
  padding: 50px 0;
  margin-left: -20px;
}
div[class*="span"] {
  padding-left: 20px;
  float:left;
  box-sizing: border-box;
}
.span1 {  width:4.1666667%; }
.span2 {  width:8.3333333%; }
.span3 {  width:12.5%; }
.span4 {  width:16.6666667%; }
.span5 {  width:20%; }
.span6 {  width:25%; }
.span7 {  width:29.1666667%; }
.span8 {  width:33.3333333%; }
.span9 {  width:37.5%; }
.span10 { width:41.6666667%; }
.span11 { width:45%; }
.span12 { width:50%; }
.span13 { width:54.1666667%; }
.span14 { width:58.3333333%; }
.span15 { width:62.5%; }
.span16 { width:66.6666667%; }
.span17 { width:70.8333333%; }
.span18 { width:75%; }
.span19 { width:79.1666667%; }
.span20 { width:83.3333333%; }
.span21 { width:87.5%; }
.span22 { width:91.6666667%; }
.span23 { width:95.8333333%; }
.span24 { width:100%; float:none; }

.wrapper {
  width: 980px;
  margin: 0 auto;
}
.alt-row { background: #ebebf9; }
.plain-row { background: #fff;}

.alt-row, .plain-row { color: #171722; }

.alt-row a, .plain-row a { color: #323264; }
.alt-row a:hover, .plain-row a:hover { color: #181874;}

/* helpers */
.clearfix:before,.clearfix:after{content:"\0020";display:block;height:0;visibility:hidden}.clearfix:after{clear:both}.clearfix{zoom:1}

.p { padding: 10px; }
.pp { padding: 20px; }
.ppt { padding-top: 20px; }
.ppr { padding-right: 20px; }
.ppl { padding-left: 20px; }

.sb{ margin-bottom: 10px; }
.ssb{ margin-bottom: 20px; }
.ssl{ margin-left: 20px; }

.fl { float: left; }
.fr { float: right; }

.tc { text-align: center }
.tl { text-align: left }
.tr { text-align: right }

.divider-top { border-top: solid 1px #e8e8fc; margin-top: 15px; padding-top: 15px; }
.divider { border-bottom: solid 1px #e8e8fc; margin-bottom: 15px; padding-bottom: 15px; }

/* icon font */
@font-face {
  font-family: 'elusive';
  src: url("fonts/elusive.eot?73867653");
  src: url("fonts/elusive.eot?73867653#iefix") format('embedded-opentype'), url("fonts/elusive.woff?73867653") format('woff'), url("fonts/elusive.ttf?73867653") format('truetype'), url("fonts/elusive.svg?73867653#elusive") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="ico-"]:before,
[class*=" ico-"]:before {
  font-family: 'elusive';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  line-height: 1em;
  margin-left: 0.2em;
}

.icn { display: inline-block; text-indent: -900em; overflow: hidden; }
.icn-ruby { background: url(../images/icn-sprite.png) -100px 0 no-repeat; width: 50px; height: 49px; }

/* proxima */
@font-face {
    font-family: 'ProximaNovaLight';
    src: url(fonts/proximanova-light-webfont.eot);
    src: url(fonts/proximanova-light-webfont.eot?#iefix) format('embedded-opentype'),
         url(fonts/proximanova-light-webfont.woff) format('woff'),
         url(fonts/proximanova-light-webfont.ttf) format('truetype'),
         url(fonts/proximanova-light-webfont.svg#ProximaNovaLight) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaRegular';
    src: url(fonts/proximanova-reg-webfont.eot);
    src: url(fonts/proximanova-reg-webfont.eot?#iefix) format('embedded-opentype'),
         url(fonts/proximanova-reg-webfont.woff) format('woff'),
         url(fonts/proximanova-reg-webfont.ttf) format('truetype'),
         url(fonts/proximanova-reg-webfont.svg#ProximaNovaLight) format('svg');
    font-weight: normal;
    font-style: normal;
}

.ico-twitter:before { content: '\e018'; } /* '' */
.ico-github:before { content: '\e0b6'; } /* '' */
.ico-download:before { content: '\e0c4'; } /* '' */


/* buttons */
.btn {
  padding: 8px;
  border: solid 1px #ccc;
  background: #f9f9f9;
  text-shadow: 0 1px 1px rgba(255,255,255,.45);
  text-decoration: none
}
.btn-primary {
  border: solid 1px #f0b638;
  background: #f2db58; /* Old browsers */
  background: -moz-linear-gradient(top, #f2db58 0%, #f0d439 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2db58), color-stop(100%,#f0d439)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f2db58 0%,#f0d439 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f2db58 0%,#f0d439 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f2db58 0%,#f0d439 100%); /* IE10+ */
  background: linear-gradient(to bottom, #f2db58 0%,#f0d439 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2db58', endColorstr='#f0d439',GradientType=0 ); /* IE6-9 */
}
.btn-primary:hover{ color: #a56a0c; }
.btn-primary:active{
  border: solid 1px #f0c338;
  background: #f0d439; /* Old browsers */
  background: -moz-linear-gradient(top, #f0d439 0%, #f2db58 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0d439), color-stop(100%,#f2db58)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f0d439 0%,#f2db58 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f0d439 0%,#f2db58 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f0d439 0%,#f2db58 100%); /* IE10+ */
  background: linear-gradient(to bottom, #f0d439 0%,#f2db58 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0d439', endColorstr='#f2db58',GradientType=0 ); /* IE6-9 */
}
.btn-large{
  display: block;
  font-size: 18px;
  color: #4a4a76;
  text-align: center;
  padding: 12px;
}



/* header */
.header{
  position: fixed; top: 0; left: 0;
  width: 100%;
  height: 64px;
  background: #1f1f27;
  border-bottom: solid 1px #36363d;
  box-shadow: 0 5px 10px rgba(0,0,0,.15);
}
.header a{ color: #a2a2ba;
  -webkit-transition: all 0.15s ease;
  -moz-transition:    all 0.15s ease;
  -ms-transition:     all 0.15s ease;
  -o-transition:      all 0.15s ease;
  transition:         all 0.15s ease;
}
.header a:hover { color: #fff; }

.header-site-title {
  float: left;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 24px;
}
.header-site-title a{
  color: #fff;
  text-decoration: none;
  line-height: 70px;
}

/* header > nav */
.header-nav { float: right; }
.nav-primary a{
  display: block;
  height: 64px;
  line-height: 70px;
  box-sizing: border-box;
  text-align: center;
  padding: 0 10px;
  border-right: solid 1px #36363d;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
}
.nav-primary .nav-top-highlight { background: #27272f;}
.nav-primary li { float: left; }
.nav-primary li:first-child a{
  border-left: solid 1px #36363d;
}
.nav-primary a:hover{
  background: #2a2a32;
  color: #fff;
}

.subnav { margin-right: 20px; }
.subnav li{
  margin: 0 0 15px 0;
  padding: 0 0 15px 0;
  border-bottom: solid 1px #e8e8fc;
}

/* homepage mega intro block */
.intro {
  background: #111119 url(../images/skyline.png) 0 100% repeat-x;
  height: 390px;
  color: #a2a1ba;
}
.intro h2{ }

.welcome-download {
  background: #fff;
  color: #3c3c60;
  font: 13px helvetica, arial, sans-serif;
}
.welcome-download .title { color: #a2a1ba; }
.welcome-download .ico-download{ float: right; }
.welcome-download a{ color: #3c3c60; }
.welcome-download a:hover{ color: #08080f; }

.welcome-msg h2 { font-size: 36px; color: #fff; line-height: 1.2em; }
.welcome-msg h3 { font-size: 18px; line-height: 1.3em; }


/* homepage > demo feature */
.demo .files { width: 150px; padding: 15px; }

/* footer */


